<%- include('../partials/header') %>

    <h1>Browse Our Current Locations Below</h1>
    <section id="locations-index">
        <% locations.forEach(location=> { %>
            <a href="/">
                <%= location.name %>
            </a>
            <% }) %>
    </section>


    <%- include('../partials/footer') %>