<%- include('partials/header') %>


  <h1>Welcome to CLAW!</h1>
  <section id="intro">
    <p >CLAW stands for Center for Local Access to Wildlife. Here you can browse through different Provincial
      or National Parks, Conservation Areas, and other wildlife hotspots. You'll be able to see what species other
      birders, wildlife enthusiasts, and botanists have found in each area, and get an idea for what you might see
      yourself! Log in to help add to the fun and education!
    </p>
  </section>


  <%- include('partials/footer') %>