body {
  background-color: #FEFAE0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

nav {
  width: 100%;
  background-color: #738564;
  height: 80px;
  line-height: 80px;
  display: flex;
  align-items: center;
}

#logo {
  height: 80px;
}

nav > a {
  color: #FEFAE0;
  text-decoration: none;
  margin-right: 30px;
  height: 80px;
  font-family: "Josefin Sans";
  font-size: 20px;
  padding: 0 20px 0 20px;
}

nav > a:hover {
  background-color: #A9B388;
}


h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#intro {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.form-style {
  display: block;
  text-align: center;
  
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 20px;
}

#locations-index {
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px;
  
  grid-auto-flow: row;
  column-gap: 20px;
  row-gap: 20px;
}

#locations-index > a {
  
  border: 1px solid black;
  place-self: center;
}