body {
  background-color: #FEFAE0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

nav {
  width: 100%;
  background-color: #738564;
  height: 80px;
  line-height: 80px;
  display: flex;
  align-items: center;
}

#logo {
  height: 80px;
}

nav > a {
  color: #FEFAE0;
  text-decoration: none;
  margin-right: 30px;
  height: 80px;
  font-family: "Josefin Sans";
  font-size: 20px;
  padding: 0 20px 0 20px;
}

nav > a:hover {
  background-color: #A9B388;
}


h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

#intro {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  font-size: 18px;
}

.form-style {
  display: block;
  text-align: center;
  
}

form {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 20px;
}

#locations-index {
  justify-content: center;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px;
  
  grid-auto-flow: row;
  column-gap: 20px;
  row-gap: 75px;
}

#locations-index > a {
  place-self: center;
  text-decoration: none;
  font-family: "Josefin Sans";
  font-size: 23px;
  color: #3a4532;
}

#locations-index > a:hover {
  text-decoration: underline;
}

#show-container {
  margin-top: 75px;
  display: grid;
  justify-content: center;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header details details details"
  "species species species . . ."
  ;

}

#show-header {
  text-align: left;
  font-family: "Josefin Sans";
  font-size: 40px;
  grid-area: header;
}

#show-details {
  grid-area: details;
  padding-top: 35px;
}

#species-seen {
  grid-area: species;
}

.species-name {
  display: inline;
}

#del-btn {
  display: inline;
  
}